		<div class="photo">
			<img src="http://www.cavstheblog.com/wp-content/uploads/2011/11/sad-cat.jpeg">
		</div>

		<div class="about">
			</br>
			<p class="lead">Sorry, you didn't submit a valid entry. Please click a tab above to search again.</p>
		</div>