		<div class="photo">
			<img src="http://www.cavstheblog.com/wp-content/uploads/2011/11/sad-cat.jpeg">
		</div>

		<div class="about">
			</br>
			<h3>Sorry, you didn't submit a valid entry. Please try again.</h3>
			<ul>Would you like to search for:
				    <li><a href="/movies" title="Movies">Movies</a></li>
				    <li><a href="/images" title="Images">Images</a></li>
				    <li><a href="/stocks" title="Stocks">Stocks</a></li>
			</ul>
		</div>