		<div class="photo">
			<img src="<%= @img_url %>" >
		</div>

		<div class="about">

			<form action="/images_results" method="post">
				<legend>Search again?</legend>
				<div class="input-append">
					<input type="text" name="image" value="<%= @image %>" class="span2" id="appendedInputButton">
					<button class="btn">Search</button>
				</div>
			</form>
		</br>
		</br>
		</br>
			<form action="/images_random" method="post">
				<legend>Click for a random image</legend>
				<button class="btn">Random Image</button>
			</form>
		</div>