		<div class="photo">
			<img src="http://4.bp.blogspot.com/_Ts0vVovpzbI/TIeTaxtDVrI/AAAAAAAABdU/0g8V4x2-FzE/s1600/polaroids.jpg">
		</div>

		<div class="about">
			<form action="/images_results" method="search">
				<legend>Search for an image by keyword:</legend>
				<input type="text" name="image" value="flower">
				<button>Search</button>
			</form>
			</br>
			</br>
			</br>
			<form action="/images_random" method="search">
				<legend>Click for a random image</legend>
				<button>Random</button>
			</form>
		</div>
