		<div class="photo">
			<img src="http://p.globalsources.com/IMAGES/PDT/B1052320835/Outdoor-Playground-Equipment.jpg"><br>
		</div>

		<div class="about">
			<h1>Welcome to the playground. Here you can quickly search for images, movies, and your stocks. Click the tabs above to get started.</h1>
		</div>