		<div class="photo">
			<img src="http://p.globalsources.com/IMAGES/PDT/B1052320835/Outdoor-Playground-Equipment.jpg"><br>
		</div>

		<div class="about">
			<p class="lead">Welcome to the playground. Here you can quickly search for images, movies, and your stocks. </br></br>Click a tab above to get started.</p>
		</div>