		<div class="photo">
			<img src="http://www.digitaltrends.com/wp-content/uploads/2013/05/free-movies-online.jpeg">
		</div>

		<div class="about">
			<form action="/movies_results" method="search" value="Jaws">
				<legend>Search for a movie by title</legend>
				<input type="text" name="title">
				<button>Search</button>
			</form>
		</div>