		<div class="photo">
			<img src="http://2.bp.blogspot.com/-z3cEtptXvKc/UUAFRvQSomI/AAAAAAAAI_0/iJJPxr0sI98/s1600/Wall-Street-Stock-Market.JPG">
		</div>

		<div class="about">
			<form action="/stocks_results" method="post">
				<legend>Search for a stock by symbol</legend>
				<div class="input-append">
					<input type="text" name="symbol" value="GOOG" class="span2" id="appendedInputButton">
					<button class="btn">Search</button>
				</div>
			</form>
		</div>